In [71]:
from bs4 import BeautifulSoup
import requests

In [72]:
url = "https://datatables.net/examples/styling/stripe.html"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [73]:
find_table = soup.find('table')

In [74]:
th = find_table.find_all('th')[0:6]

In [75]:
th

[<th>Name</th>,
 <th>Position</th>,
 <th>Office</th>,
 <th>Age</th>,
 <th>Start date</th>,
 <th>Salary</th>]

In [76]:
table_head = [head.text for head in th]
print(table_head)

['Name', 'Position', 'Office', 'Age', 'Start date', 'Salary']

In [77]:
import pandas as pd

In [78]:
df = pd.DataFrame(columns = table_head)
df

Empty DataFrame
Columns: [Name, Position, Office, Age, Start date, Salary]
Index: []

In [79]:
tr = find_table.find_all('tr')

In [80]:
for data in tr[1:-1]:
    td = data.find_all('td')
    table_data = [row.text for row in td]

    length = len(df)
    df.loc[length] = table_data

In [81]:
print(df)

                   Name                       Position         Office Age  \
0           Tiger Nixon               System Architect      Edinburgh  61
1       Garrett Winters                     Accountant          Tokyo  63
2            Ashton Cox        Junior Technical Author  San Francisco  66
3          Cedric Kelly    Senior Javascript Developer      Edinburgh  22
4            Airi Satou                     Accountant          Tokyo  33
5    Brielle Williamson         Integration Specialist       New York  61
6       Herrod Chandler                Sales Assistant  San Francisco  59
7        Rhona Davidson         Integration Specialist          Tokyo  55
8         Colleen Hurst           Javascript Developer  San Francisco  39
9           Sonya Frost              Software Engineer      Edinburgh  23
10          Jena Gaines                 Office Manager         London  30
11          Quinn Flynn                   Support Lead      Edinburgh  22
12      Charde Marshall              Regional Director  San Francisco  36
13        Haley Kennedy      Senior Marketing Designer         London  43
14  Tatyana Fitzpatrick              Regional Director         London  19
15        Michael Silva             Marketing Designer         London  66
16            Paul Byrd  Chief Financial Officer (CFO)       New York  64
17        Gloria Little          Systems Administrator       New York  59
18        Bradley Greer              Software Engineer         London  41
19             Dai Rios                 Personnel Lead      Edinburgh  35
20     Jenette Caldwell               Development Lead       New York  30
21           Yuri Berry  Chief Marketing Officer (CMO)       New York  40
22         Caesar Vance              Pre-Sales Support       New York  21
23         Doris Wilder                Sales Assistant         Sydney  23
24       Angelica Ramos  Chief Executive Officer (CEO)         London  47
25          Gavin Joyce                      Developer      Edinburgh  42
26       Jennifer Chang              Regional Director      Singapore  28
27       Brenden Wagner              Software Engineer  San Francisco  28
28          Fiona Green  Chief Operating Officer (COO)  San Francisco  48
29            Shou Itou             Regional Marketing          Tokyo  20
30       Michelle House         Integration Specialist         Sydney  37
31           Suki Burks                      Developer         London  53
32    Prescott Bartlett               Technical Author         London  27
33         Gavin Cortez                    Team Leader  San Francisco  22
34       Martena Mccray             Post-Sales support      Edinburgh  46
35         Unity Butler             Marketing Designer  San Francisco  47
36      Howard Hatfield                 Office Manager  San Francisco  51
37         Hope Fuentes                      Secretary  San Francisco  41
38       Vivian Harrell           Financial Controller  San Francisco  62
39       Timothy Mooney                 Office Manager         London  37
40     Jackson Bradshaw                       Director       New York  65
41         Olivia Liang               Support Engineer      Singapore  64
42           Bruno Nash              Software Engineer         London  38
43      Sakura Yamamoto               Support Engineer          Tokyo  37
44          Thor Walton                      Developer       New York  61
45         Finn Camacho               Support Engineer  San Francisco  47
46        Serge Baldwin               Data Coordinator      Singapore  64
47        Zenaida Frank              Software Engineer       New York  63
48       Zorita Serrano              Software Engineer  San Francisco  56
49      Jennifer Acosta    Junior Javascript Developer      Edinburgh  43
50         Cara Stevens                Sales Assistant       New York  46
51      Hermione Butler              Regional Director         London  47
52           Lael Greer          Systems Administrator         London  21
53      Jonas Alexander                      Developer  San Francisco  30
54          Shad Decker              Regional Director      Edinburgh  51
55        Michael Bruce           Javascript Developer      Singapore  29
56         Donna Snider               Customer Support       New York  27

    Start date      Salary
0   2011-04-25    $320,800
1   2011-07-25    $170,750
2   2009-01-12     $86,000
3   2012-03-29    $433,060
4   2008-11-28    $162,700
5   2012-12-02    $372,000
6   2012-08-06    $137,500
7   2010-10-14    $327,900
8   2009-09-15    $205,500
9   2008-12-13    $103,600
10  2008-12-19     $90,560
11  2013-03-03    $342,000
12  2008-10-16    $470,600
13  2012-12-18    $313,500
14  2010-03-17    $385,750
15  2012-11-27    $198,500
16  2010-06-09    $725,000
17  2009-04-10    $237,500
18  2012-10-13    $132,000
19  2012-09-26    $217,500
20  2011-09-03    $345,000
21  2009-06-25    $675,000
22  2011-12-12    $106,450
23  2010-09-20     $85,600
24  2009-10-09  $1,200,000
25  2010-12-22     $92,575
26  2010-11-14    $357,650
27  2011-06-07    $206,850
28  2010-03-11    $850,000
29  2011-08-14    $163,000
30  2011-06-02     $95,400
31  2009-10-22    $114,500
32  2011-05-07    $145,000
33  2008-10-26    $235,500
34  2011-03-09    $324,050
35  2009-12-09     $85,675
36  2008-12-16    $164,500
37  2010-02-12    $109,850
38  2009-02-14    $452,500
39  2008-12-11    $136,200
40  2008-09-26    $645,750
41  2011-02-03    $234,500
42  2011-05-03    $163,500
43  2009-08-19    $139,575
44  2013-08-11     $98,540
45  2009-07-07     $87,500
46  2012-04-09    $138,575
47  2010-01-04    $125,250
48  2012-06-01    $115,000
49  2013-02-01     $75,650
50  2011-12-06    $145,600
51  2011-03-21    $356,250
52  2009-02-27    $103,500
53  2010-07-14     $86,500
54  2008-11-13    $183,000
55  2011-06-27    $183,000
56  2011-01-25    $112,000

In [82]:
df.to_csv("C:/Users/user/Desktop/Projects/Python/Employees Data.csv", index = False)